<section id="our-products">
    <div class="container mt-5">
        <h2 class="text-center mb-5">منتجات اكساب</h2>
        <div class="row gy-5">
            <div class="col-md-6 d-flex">
                <span class="ms-2 position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="67" height="144" viewBox="0 0 67 144" fill="none">
                        <mask id="mask0_1_77743" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="67" height="144">
                            <path d="M0.62207 0.151978L7.15107 143.979H67.0001L60.4711 0.151978H0.62207Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_1_77743)">
                            <path d="M67.0001 0.151978H0.62207V143.979H67.0001V0.151978Z" fill="url(#paint0_linear_1_77743)"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_1_77743" x1="0.62207" y1="143.979" x2="0.754826" y2="143.979" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#05597B"/>
                            <stop offset="1" stop-color="#37B5E7"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </span>
                <div>
                    <h3>EXAB TRAIN</h3>
                    <h4>منصة التدريب الرقمي</h4>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <span class="ms-2 position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="67" height="144" viewBox="0 0 67 144" fill="none">
                        <mask id="mask0_1_77743" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="67" height="144">
                            <path d="M0.62207 0.151978L7.15107 143.979H67.0001L60.4711 0.151978H0.62207Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_1_77743)">
                            <path d="M67.0001 0.151978H0.62207V143.979H67.0001V0.151978Z" fill="url(#paint0_linear_1_77743)"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_1_77743" x1="0.62207" y1="143.979" x2="0.754826" y2="143.979" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#05597B"/>
                            <stop offset="1" stop-color="#37B5E7"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </span>
                <div>
                    <h3>EXAB RISK</h3>
                    <h4>منصة إدارة المخاطر</h4>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <span class="ms-2 position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="67" height="144" viewBox="0 0 67 144" fill="none">
                        <mask id="mask0_1_77743" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="67" height="144">
                            <path d="M0.62207 0.151978L7.15107 143.979H67.0001L60.4711 0.151978H0.62207Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_1_77743)">
                            <path d="M67.0001 0.151978H0.62207V143.979H67.0001V0.151978Z" fill="url(#paint0_linear_1_77743)"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_1_77743" x1="0.62207" y1="143.979" x2="0.754826" y2="143.979" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#05597B"/>
                            <stop offset="1" stop-color="#37B5E7"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </span>
                <div>
                    <h3>EXAB STRATEGY</h3>
                    <h4>منصة إدارة التخطيط الإستراتيجي والمشاريع</h4>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <span class="ms-2 position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="67" height="144" viewBox="0 0 67 144" fill="none">
                        <mask id="mask0_1_77743" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="67" height="144">
                            <path d="M0.62207 0.151978L7.15107 143.979H67.0001L60.4711 0.151978H0.62207Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_1_77743)">
                            <path d="M67.0001 0.151978H0.62207V143.979H67.0001V0.151978Z" fill="url(#paint0_linear_1_77743)"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_1_77743" x1="0.62207" y1="143.979" x2="0.754826" y2="143.979" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#05597B"/>
                            <stop offset="1" stop-color="#37B5E7"/>
                            </linearGradient>
                        </defs>
                    </svg>
                </span>
                <div>
                    <h3>EXAB APPS</h3>
                    <h4>تطبيق المنظمة للخدمات الذاتية</h4>
                </div>
            </div>
        </div>
    </div>
    <img class="w-100" src="assets/IMGS/wave.png" alt="EXAB">
</section>