<section>
    <div class="container pt-5">
        <h2 class="text-center mb-3">معلومات التواصل</h2>
        <img class="w-100" src="assets/IMGS/map.png" alt="EXAB">
    </div>
    <img class="w-100" src="assets/IMGS/wave.png" alt="EXAB">
    <div>
        <div class="container pb-5">
            <div class="row gy-3">
                <div class="col-7">
                    <span class="border-start">العنوان</span>
                    <span>المملكة العربية السعودية - الرياض - حي التعاون – شارع 12473 - الإمام سعود بن عبدالعزيز</span>
                </div>
                <div class="col-5">
                    <span class="border-start">هاتف</span>
                    <span>0144886850 - 920018303</span>
                </div>
                <div class="col-7">
                    <span class="border-start">بريد إلكتروني</span>
                    <span></span>
                    <a href="mailto:info@exab.sa">info&#64;exab.sa</a>
                </div>
                <div class="col-5">
                    <span class="border-start">أوقات العمل</span>
                    <span>الأحد - الخميس من 9 ص إلى 5 م</span>
                </div>
            </div>
        </div>
    </div>
</section>