<section id="contact-us">
    <div class="container pt-5">
        <h2 class="text-center mb-5">معلومات التواصل</h2>
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2863.5686592430416!2d46.70784288031966!3d24.75781503876582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2LTYp9ix2LkgMTI0NzM!5e1!3m2!1sar!2seg!4v1704720011999!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <img class="w-100" src="assets/IMGS/wave.png" alt="EXAB">
    <div>
        <div class="container pb-5">
            <div class="row gy-3">
                <div class="col-md-7">
                    <span class="border-start">العنوان</span>
                    <span>المملكة العربية السعودية - الرياض - حي التعاون – شارع 12473 - الإمام سعود بن عبدالعزيز</span>
                </div>
                <div class="col-md-5">
                    <span class="border-start">هاتف</span>
                    <span>
                        <a href="tel:+20144886850">0144886850</a> - 
                        <a href="tel:+966920018303">920018303</a>
                    </span>
                </div>
                <div class="col-md-7">
                    <span class="border-start">بريد إلكتروني</span>
                    <span></span>
                    <a href="mailto:info@exab.sa">info&#64;exab.sa</a>
                </div>
                <div class="col-md-5">
                    <span class="border-start">أوقات العمل</span>
                    <span>الأحد - الخميس من 9 ص إلى 5 م</span>
                </div>
            </div>
        </div>
    </div>
</section>