section {
    h2 {
        color: var(--main-color);
    }
    > div:last-of-type {
        background-color: #F4F4F4;
        .row span {
            &:first-of-type {
                margin-left: 10px;
                padding-left: 5px;
                color: var(--third-color);
                border-color: var(--third-color) !important;
            }
            &:last-of-type {
                color: #48505D;
            }
        }
    }
}