<nav class="navbar navbar-expand-lg py-2 shadow position-sticky top-0 bg-white">
    <div class="container">
        <img src="assets/IMGS/logo.svg" alt="EXAB">
        <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">من نحن</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-services">خدماتنا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-products">منتجاتنا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our-clients">عملائنا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-us">إتصل بنا</a>
                </li>
            </ul>
            <button class="btn btn-info text-white">
                <span class="btn-text">إحجز عرضًا توضيحيًا</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <mask id="mask0_1_76127" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
                        <path d="M0 32L32 32L32 0L0 0L0 32Z" fill="white"/>
                    </mask>
                    <g mask="url(#mask0_1_76127)">
                        <path d="M3.90881 13.9712L27.919 13.9712C28.666 13.9712 29.2529 14.5581 29.2529 15.3051C29.2529 16.0521 28.666 16.639 27.919 16.639L3.90881 16.639C3.16182 16.639 2.57491 16.0521 2.57491 15.3051C2.57491 14.5581 3.16182 13.9712 3.90881 13.9712Z" fill="white"/>
                        <path d="M13.2519 7.30183C13.2519 7.64137 13.1198 7.98092 12.8557 8.24503L5.79552 15.3052L12.8557 22.3654C13.3839 22.8936 13.3839 23.7237 12.8557 24.2519C12.3275 24.7801 11.4975 24.7801 10.9693 24.2519L2.96589 16.2485C2.84081 16.1234 2.74443 15.9791 2.67674 15.8157C2.60904 15.6523 2.5752 15.4821 2.5752 15.3052C2.5752 15.1284 2.60905 14.9582 2.67674 14.7948C2.74443 14.6314 2.84081 14.4871 2.96589 14.362L10.9693 6.35862C11.4975 5.8304 12.3275 5.8304 12.8557 6.35862C13.1198 6.62274 13.2519 6.96228 13.2519 7.30183Z" fill="white"/>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</nav>