nav {
    z-index: 100;
    img {
        height: 50px;
    }
    .navbar-collapse {
        a {
            margin: 0px 20px;
            font-weight: 700;
            color: var(--main-color);
        }
    }
}