section {
    &:first-of-type {
        color: var(--second-color);
        min-height: var(--outer-navbar);
        background-image: url('./../../../assets/IMGS/about-bgi.png');
        background-position: center;
        background-size: cover;
        p {
            text-align: justify;
        }
        h4 {
            color: #CCC;
        }
        .overlay-about {
            background-image: url('./../../../assets/IMGS/about-img.png');
            background-position: center top;
            background-size: cover;
        }
        @media screen and (max-width: 991px) {
            & {
                min-height: auto;
                text-align: center;
                p {
                    text-align: center;
                }
            }
        }
    }
    &:last-of-type {
        h2 {
            color: var(--main-color);
        }
        > div::before {
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            z-index: -1;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            background-color: var(--third-color);
        }
    }
}