section {
    background-image: url('./../../../assets/IMGS/client-bgi.png');
    background-position: center;
    background-size: cover;
    span {
        height: 2px;
        background-color: #34CCFF;
    }
    .clients {
        background-color: #ccdbe1;
        img {
            height: 120px;
            max-width: 100%;
        }
        @media screen and (max-width: 767px) {
            img {
                height: 120px;
            }
        }
    }
}