section {
    height: calc(100vh - 95px);
    background-image: url('./../../../assets/IMGS/client-bgi.png');
    background-position: center;
    background-size: cover;
    span {
        height: 2px;
        background-color: #34CCFF;
    }
    .clients {
        background-color: #ccdbe1;
        img {
            height: 120px;
        }
    }
}