<section id="our-clients">
    <div class="container py-5">
        <h2 class="text-white me-4 mb-0">العملاء</h2>
        <span class="hr d-block rounded my-4"></span>
        <div class="clients p-3 rounded-2">
            <div class="row gy-4">
                <div class="col-md-6 col-lg-4 text-center">
                    <img src="assets/IMGS/client-1.png" alt="EXAB">
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <img src="assets/IMGS/client-2.png" alt="EXAB">
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <img src="assets/IMGS/client-3.png" alt="EXAB">
                </div>
                <div class="col-md-6 mx-lg-auto text-center">
                    <img src="assets/IMGS/client-4.png" alt="EXAB">
                </div>
            </div>
        </div>
    </div>
</section>